{% extends 'empty.html.twig' %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-lg-5">

      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
        <div class="card-body">
          {{ form_start(registrationForm) }}
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="inputEmail"
                   type="email"
                   placeholder="{{ field_label(registrationForm.email) }}"
                   name="{{ field_name(registrationForm.email) }}"
                   value="{{ field_value(registrationForm.email) }}">
            <label for="inputEmail">{{ field_label(registrationForm.email) }}</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control"
                   id="inputPassword"
                   type="password"
                   placeholder="{{ field_label(registrationForm.plainPassword) }}"
                   name="{{ field_name(registrationForm.plainPassword) }}"
                   value="{{ field_value(registrationForm.plainPassword) }}">
            <label for="inputPassword">{{ field_label(registrationForm.plainPassword) }}</label>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Register</button>
          </div>
          {{ form_end(registrationForm) }}
        </div>

      </div>
    </div>
  </div>

{% endblock %}
